<!--﻿<?xml version='1.0' encoding='utf-8'?>-->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Подключение объектов сущностей -->
        <mapping package="com.springapp.mvc.domain"/>
        <mapping class="com.springapp.mvc.domain.UserInfo"/>
        <mapping class="com.springapp.mvc.domain.Posts"/>
        <mapping class="com.springapp.mvc.domain.Content"/>
        <mapping class="com.springapp.mvc.domain.Message"/>
        <mapping class="com.springapp.mvc.domain.Friends"/>
    </session-factory>
</hibernate-configuration>